<%= stylesheet_link_tag 'recipes/show', media: 'all' %>
<div class="recipe__info">
  <h2 class="recipe__title"><%= @recipe.name %></h2>
  <div class="recipe__vision">
    <p>Preparation time: <%= @recipe.preparation_time %></p>
    <p>
      Public
      <label class="recipe__switch">
        <input type="checkbox" id="recipe_public" <%= @recipe.public ? 'checked' : '' %>>
        <span class="slider"></span>
      </label>
    </p>
  </div>
  <p>Cooking time: <%= @recipe.cooking_time %></p>
  <p><%= @recipe.description %></p>
  <div class="recipe__action">
    <%= link_to 'Generate Shopping list' , recipe_general_shopping_list_path(@recipe.id), class:"recipe__button" %>
    <%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe.id), class:"recipe__button" %>
  </div>
</div>

<div class="recipe__detail">
  <table>
    <% if @recipe_foods.empty? %>
      <h2>No Recipe Food found, click on add ingredient to add one</h2>
    <% end %>
    <thead>
      <tr>
        <td>Food</td>
        <td>Quantity</td>
        <td>Value</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
    <% @recipe_foods.each do |recipe_food|%>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %><%= recipe_food.food.measurement_unit %></td>
        <td><%= recipe_food.food.price %></td>
        <td>
          <%= link_to "remove", recipe_recipe_food_path(recipe_food.recipe.id, recipe_food.id), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              }, class:"recipe__remove"
          %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const checkbox = document.getElementById('recipe_public');
    checkbox.addEventListener('click', function() {
      const url = "<%= recipe_path %>";
      const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
      const active = checkbox.checked;
      fetch(url, {
        method: 'PATCH',
        headers: {
          'X-CSRF-Token': csrfToken,
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ recipe: { public: active } })
      })
      .then(response => response.json())
      .then(data => {
        // Update the checkbox with the new value from the server
        checkbox.checked = !checkbox.checked;
      })
      .catch(error => console.log(error));
    });
  });
</script>
