<h2>Add new ingredient</h2>
<%= form_with model: @recipe_food, url: recipe_recipe_foods_path(params[:recipe_id]) , local: true do |f| %>

<div>
  <div>
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :measurement_unit %> <br>
    <%= f.text_field :measurement_unit %>
  </div>

  <div>
    <%= f.label :price %> <br>
    <%= f.text_field :price %>
  </div>

  <div>
    <%= f.label :quantity %> <br>
    <%= f.text_field :quantity %>
  </div>

  <%= f.submit %> <br>
</div>

<% end %>